* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-black {
    background-color: black;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-row {
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-row button {
    background-color: gray;
    padding: 0 10px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50px;
}

main {
    margin-top: 75px;
}

.wrapped {
    height: calc(100vh - 150px);
    overflow-y: auto;
}

.main-conteiner {
    width: 80%;
    margin: 0 auto;
}

.main-row {
    display: flex;
}

.coll-14 {
    width: calc(100%/7);
}

.main-row img {
    height: 100px;
    width: 200px;
    position: relative;
    margin: 5px 0;
}

.mic-img {
    color: white;
    position: absolute;
    bottom: 425px;
}