* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-row {
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-row button {
    background-color: gray;
    padding: 0 10px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50px;
}

.wrapped {
    height: calc(100vh-150px);
    background-color: black;
}

.main-conteiner {
    width: 80%;
    margin: 0 auto;
}

.main-row {
    display: flex;
    justify-content: space-between;
}

.coll-14 {
    width: calc(100%/7);
}

.main-row img {
    height: 100px;
    width: 200px;
    position: relative;
    margin: 5px 0;
}

.mic-img {
    color: white;
    position: absolute;
    bottom: 425px;
    left: 195px
}