* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-black {
    background-color: black;
}

.bg-light-gray {
    background-color: rgb(65, 63, 63);
}

.cl-red {
    color: red;
}

.cl-green {
    color: green;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

button {
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-row {
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-row button {
    background-color: rgb(65, 63, 63);
    color: white;
    border: none;
    padding: 0 10px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.header-row h3 {
    margin-left: 5px;
}

main {
    margin-top: 75px;
}

.wrapped {
    height: calc(100vh - 150px);
    overflow-y: auto;
}

.main-conteiner {
    width: 80%;
    margin: 0 auto;
}

.main-row {
    display: flex;
}

.coll-14 {
    width: calc(100%/7);
}

.main-row img {
    height: 100px;
    width: 200px;
    position: relative;
    margin: 5px 0;
}

.mic-img {
    color: white;
    position: absolute;
    bottom: 425px;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
}

.footer-row {
    height: 75px;
    display: flex;
    align-items: center;
}

.coll-33 {
    width: calc(100% / 3);
}

footer button {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 15px;
    margin: 0 5px;
}

footer i {
    font-size: 30px;
    margin-bottom: 5px;
}

.btn-end-meet {
    font-size: 10px;
}